<!-- student homepage -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>Internship Management System</title>
    <meta content name="description">
    <meta content name="keywords">

    <!-- Favicons -->
    <link href="../assets/img/favicon.png" rel="icon">

    <!-- Google Fonts -->
    <link
        href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
        rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="../assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="../assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="../assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="../assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
    <link href="../assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">

    <!-- Template Main CSS File -->
    <link href="../assets/css/style.css" rel="stylesheet">
</head>

<body>

    <!-- ======= Header ======= -->
    <header id="header" class="fixed-top d-flex align-items-center">
        <div class="container d-flex align-items-center">

            <div class="logo me-auto">
                <h1><a href="home.html">Lanternship</a></h1>
            </div>

            <nav id="navbar" class="navbar order-last order-lg-0">
                <ul>
                    <li><a class="nav-link scrollto" href="home.html">Home</a></li>
                    <li><a class="nav-link scrollto" href="companyList.html">Find Company</a></li>
                    <li><a class="nav-link scrollto" href="applicationHistory.html">Job Application History</a></li>
                    <li><a class="nav-link scrollto" href="../index.html">Logout</a></li>
                </ul>
                <i class="bi bi-list mobile-nav-toggle"></i>
            </nav><!-- .navbar -->
        </div>
    </header><!-- End Header -->

    <!-- ======= Inner Page ======= -->
    <section class="inner-page">
        <div class="container py-5">
            <button type="button" class="btn btn-secondary ms-1" style="float: right;" data-bs-toggle="modal"
                data-bs-target="#documentModal">Download Document Templates</button>
            <h2>Welcome: Leau Goon Hei!<br />
                <hr><br />
            </h2>
            <div class="row">
                <div class="col-lg-6">
                    <h4 class="my-3 text-primary"><b>Student Info</b></h4>
                    <div class="card mb-4">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-sm-3">
                                    <p class="mb-0">Student studentName</p>
                                </div>
                                <div class="col-sm-9">
                                    <p class="text-muted mb-0">LEAU GOON HEI</p>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-3">
                                    <p class="mb-0">Student ID</p>
                                </div>
                                <div class="col-sm-9">
                                    <p class="text-muted mb-0">22WMR00000</p>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-3">
                                    <p class="mb-0">NRIC No.</p>
                                </div>
                                <div class="col-sm-9">
                                    <p class="text-muted mb-0">999999-99-9999</p>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-3">
                                    <p class="mb-0">Gender</p>
                                </div>
                                <div class="col-sm-9">
                                    <p class="text-muted mb-0">Male</p>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-3">
                                    <p class="mb-0">Student Email</p>
                                </div>
                                <div class="col-sm-9">
                                    <p class="text-muted mb-0"><a
                                            href="mailto:leaugh-wm20@student.tarc.edu.my">leaugh-wm20@student.tarc.edu.my</a>
                                    </p>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-3">
                                    <p class="mb-0">Contact No.</p>
                                </div>
                                <div class="col-sm-9">
                                    <p class="text-muted mb-0"><a href="tel:+603719303">016-3719303</a></p>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-3">
                                    <p class="mb-0">Programme</p>
                                </div>
                                <div class="col-sm-9">
                                    <p class="text-muted mb-0">Bachelor degree in software engineering</p>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-3">
                                    <p class="mb-0">CGPA</p>
                                </div>
                                <div class="col-sm-9">
                                    <p class="text-muted mb-0">4.0000</p>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-3">
                                    <p class="mb-0">Resume</p>
                                </div>
                                <div class="col-sm-9">
                                    <p class="text-muted mb-0"><a href="">click to view resume</a></p>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="d-flex justify-content-center mb-2">
                                    <button type="button" class="btn btn-outline-primary ms-1" style="float: right;"
                                        data-bs-toggle="modal" data-bs-target="#editInfo">Edit Info</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br />
                    <h4 class="my-3 text-primary"><b>Internship Summary & Supervisor</b></h4>
                    <div class="card mb-4 mb-lg-0">
                        <div class="card-body p-0">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-sm-3">
                                        <p class="mb-0">Cohort</p>
                                    </div>
                                    <div class="col-sm-9">
                                        <p class="text-muted mb-0">JUL2022Y2</p>
                                    </div>
                                </div>
                                <hr>
                                <div class="row">
                                    <div class="col-sm-3">
                                        <p class="mb-0">Intern Period</p>
                                    </div>
                                    <div class="col-sm-9">
                                        <p class="text-muted mb-0">19 Feb 2024 - 04 Aug 2024</p>
                                    </div>
                                </div>
                                <hr>
                                <div class="row">
                                    <div class="col-sm-3">
                                        <p class="mb-0">Uni Supervisor</p>
                                    </div>
                                    <div class="col-sm-9">
                                        <p class="text-muted mb-0">TEW YIQI</p>
                                    </div>
                                </div>
                                <hr>
                                <div class="row">
                                    <div class="col-sm-3">
                                        <p class="mb-0">Uni Supervisor Email</p>
                                    </div>
                                    <div class="col-sm-9">
                                        <p class="text-muted mb-0"><a
                                                href="mailto:yiqi@tarc.edu.my">yiqi@tarc.edu.my</a></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br />
                    <h4 class="my-3 text-primary"><b>Report Submission</b></h4>
                    <div class="card mb-4">
                        <div class="card-body">
                            <form action="home.html" method=""
                                onsubmit="return confirm('Are you sure to submit these reports? Once submitted, cannot be changed anymore.')">
                                <div class="form-group">
                                    <label for="monthlyReport" class="col-form-label">Monthly Reports (Upload all your
                                        monthly reports in once)</label>
                                    <input type="file" class="form-control" id="monthlyReport" placeholder=""
                                        multiple="multiple" required>
                                </div>
                                <br />
                                <div class="form-group">
                                    <label for="finalReport" class="col-form-label">Final Report</label>
                                    <input type="file" class="form-control" id="finalReport" placeholder="" required>
                                </div>
                                <br />
                                <hr>
                                <div class="row">
                                    <div class="d-flex justify-content-center mb-2">
                                        <button type="submit" class="btn btn-primary ms-1"
                                            style="float: right;">Submit</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <h4 class="my-3 text-primary"><b>Company Detail</b></h4>
                    <div class="card mb-4 mb-lg-0">
                        <div class="card-body p-0">
                            <div class="card-body">
                                <form action="home.html" method=""
                                    onsubmit="return confirm('Are you sure to submit this company? Once submitted, cannot be changed anymore.')">
                                    <div class="form-group">
                                        <label for="companyName" class="col-form-label">Company Name</label>
                                        <input type="text" class="form-control" id="companyName" placeholder=""
                                            required>
                                    </div>
                                    <br />
                                    <div class="form-group">
                                        <label for="companyAddress" class="col-form-label">Company Address</label>
                                        <textarea class="form-control" id="companyAddress" placeholder="" rows="3"
                                            required></textarea>
                                    </div>
                                    <br />
                                    <div class="form-group">
                                        <label for="allowance" class="col-form-label">Monthy Allowance (RM)</label>
                                        <input type="text" class="form-control" id="allowance"
                                            placeholder="e.g. 1000.00" pattern="\d+\.\d{2}" required>
                                    </div>
                                    <br />
                                    <div class="form-group">
                                        <label for="compSupervisorName" class="col-form-label">Com. Supervisor
                                            Name</label>
                                        <input type="text" class="form-control" id="compSupervisorName" placeholder=""
                                            required>
                                    </div>
                                    <br />
                                    <div class="form-group ">
                                        <label for="compSupervisorEmail" class="col-form-label">Com. Supervisor
                                            Email</label>
                                        <input type="email" class="form-control" id="compSupervisorEmail"
                                            placeholder="e.g. xxx@xxx.com" required>
                                    </div>
                                    <br />
                                    <div class="form-group">
                                        <label for="compSupervisorContact" class="col-form-label">Com. Supervisor
                                            Contact</label>
                                        <input type="text" class="form-control" id="compSupervisorEmail"
                                            placeholder="e.g. 019-9999999" pattern="\d{2,3}-\d{7,8}" required>
                                    </div>
                                    <br />
                                    <h5 class="my-3 text-secondary"><b>Forms Submission</b></h5>
                                    <div class="form-group">
                                        <label for="compAcceptanceForm" class="col-form-label">Com. Acceptance
                                            Form</label>
                                        <input type="file" class="form-control" id="compAcceptanceForm" placeholder=""
                                            required>
                                    </div>
                                    <br />
                                    <div class="form-group">
                                        <label for="parrentAckForm" class="col-form-label">Parent Ack. Form</label>
                                        <input type="file" class="form-control" id="parrentAckForm" placeholder=""
                                            required>
                                    </div>
                                    <br />
                                    <div class="form-group">
                                        <label for="letterOfIndemnity" class="col-form-label">Letter of
                                            Indemnity</label>
                                        <input type="file" class="form-control" id="letterOfIndemnity" placeholder=""
                                            required>
                                    </div>
                                    <br />
                                    <div class="form-group">
                                        <label for="hiredEvidence" class="col-form-label">Hired evidence (if
                                            any)</label>
                                        <input type="file" class="form-control" id="hireEvidence" placeholder="">
                                    </div>
                                    <br />
                                    <hr>
                                    <div class="row">
                                        <div class="d-flex justify-content-center mb-2">
                                            <button type="submit" class="btn btn-primary ms-1"
                                                style="float: right;">Submit</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End Inner Page -->


    <!-- ======= Breadcrumbs ======= -->
    <!-- <section>
        <div class="container">
            <div class="d-flex justify-content-around">
                <div class="col-md-10">
                    <h2 class="mt-5">Welcome, </h2>
                    <h3 class>Name!</h3>
                </div>
                <div class="col-md-2 pt-4 mt-5">
                    <button type="button" class="btn-doc btn btn-primary text-black border-0" data-bs-toggle="modal"
                        data-bs-target="#documentModal">
                        Documents
                    </button>
                </div>
            </div>
    
            <form action="/Student" enctype="multipart/form-data" method=""><input name="__RequestVerificationToken"
                    type="hidden"
                    value="YDGcVwOu7p4DjCvm6Srcp5Tb-lkZP-DLOHRmOcwXe86I7nCrn9OBCqo8f88XCLcXFFUQ3uIl4X42iHJMbcxE_MaPLxgzb8RCcJqs-CPlP08LCY__Kyzk75bQdlulkLZDAOgnKDp7iKi-BxuTwChu6w2" />
                <div class="form-horizontal">
    
                    <hr />
    
                    <input data-val="true" data-val-number="The field id must be a number."
                        data-val-required="The id field is required." id="applicantId" name="id" type="hidden"
                        value="21551" />
                    <input data-val="true" data-val-required="The Template Version field is required." id="templateVersion"
                        name="templateVersion" type="hidden" value="First" />
                    <input data-val="true" data-val-number="The field Group No must be a number."
                        data-val-required="The Group No field is required." id="GroupNo" name="GroupNo" type="hidden"
                        value="5" />
                    <input data-val="true" data-val-number="The field CGPA must be a number."
                        data-val-range="Must be between 1.0 to 4.0" data-val-range-max="4" data-val-range-min="1"
                        data-val-required="The CGPA field is required." id="cgpa" name="cgpa" type="hidden" value="3.625" />
                    <input data-val="true" data-val-required="The Own Transport field is required." id="ownTransport"
                        name="ownTransport" type="hidden" value="True" />
                    <input data-val="true" data-val-required="The Term Address field is required." id="termAddress"
                        name="termAddress" type="hidden"
                        value="C222 TINGKAT 2 BLOK C, JALAN 115C, TAMAN KUCHAI JAYA, 58200 KUALA LUMPUR" />
                    <input data-val="true" data-val-required="The Permanent Address field is required."
                        id="permanentAddress" name="permanentAddress" type="hidden"
                        value="C222 TINGKAT 2 BLOK C, JALAN 115C, TAMAN KUCHAI JAYA, 58200 KUALA LUMPUR" />
                    <input data-val="true" data-val-required="The Programming Knowledge field is required."
                        id="programmingKnowledge" name="programmingKnowledge" type="hidden"
                        value="C, Java, HTML, CSS, JavaScript, PHP, ASP.NET, C++, Kotlin" />
                    <input data-val="true" data-val-required="The Database Knowledge field is required."
                        id="databaseKnowledge" name="databaseKnowledge" type="hidden" value="Oracle SQL" />
                    <input data-val="true" data-val-required="The Networking Knowledge field is required."
                        id="networkingKnowledge" name="networkingKnowledge" type="hidden" value="Oracle SQL" />
                    <input data-val="true" data-val-required="The I Agree field is required." id="isAgreed" name="isAgreed"
                        type="hidden" value="True" />
                    <input data-val="true" data-val-required="The Personal Email field is required." id="personalEmail"
                        name="personalEmail" type="hidden" value="goonhei123@gmail.com" />
    
                    <div class="top-container container  border-2">
                        <div class="d-flex">
                            <div class="card-header rounded col-md-6">
                                <div class="card-header-content ps-2 pb-2  fw-bold">Student
                                    Detail</div>
                                <div class>
                                    <div class="form-group">
                                        <label class="control-label col-md-4 ps-2 pt-2 fw-bold" for="studentName">Student
                                            Name</label>
                                        <div class="col-md-10 ps-2 ">
                                            <input data-val="true" data-val-required="The Student Name field is required."
                                                id="studentName" name="studentName" type="hidden" value="LEAU GOON HEI" />
                                            LEAU GOON HEI
                                            <span class="field-validation-valid text-danger" data-valmsg-for="studentName"
                                                data-valmsg-replace="true"></span>
                                        </div>
                                    </div>
    
                                    <div class="form-group">
                                        <label class="control-label col-md-2 ps-2 pt-2 fw-bold" for="studentId">Student
                                            ID</label>
                                        <div class="col-md-10 ps-2">
                                            <input data-val="true" data-val-required="The Student ID field is required."
                                                id="studentId" name="studentId" type="hidden" value="22WMR05668" />
                                            22WMR05668
                                            <span class="field-validation-valid text-danger" data-valmsg-for="studentId"
                                                data-valmsg-replace="true"></span>
                                        </div>
                                    </div>
    
                                    <div class="form-group">
                                        <label class="control-label col-md-2 ps-2 pt-2 fw-bold" for="nric">NRIC
                                            No.</label>
                                        <div class="col-md-10 ps-2">
                                            <input data-val="true" data-val-required="The NRIC No. field is required."
                                                id="nric" name="nric" type="hidden" value="020505-10-0567" />
                                            020505-10-0567
                                            <span class="field-validation-valid text-danger" data-valmsg-for="nric"
                                                data-valmsg-replace="true"></span>
                                        </div>
                                    </div>
    
                                    <div class="form-group">
                                        <label class="control-label col-md-2 ps-2 pt-2 fw-bold" for="gender">Gender</label>
                                        <div class="col-md-10 ps-2">
                                            <input data-val="true" data-val-required="The Gender field is required."
                                                id="gender" name="gender" type="hidden" value="M" />
                                            M
                                            <span class="field-validation-valid text-danger" data-valmsg-for="gender"
                                                data-valmsg-replace="true"></span>
                                        </div>
                                    </div>
    
                                    <div class="form-group">
                                        <label class="control-label col-md-2 ps-2 pt-2 fw-bold"
                                            for="programme">Programme</label>
                                        <div class="col-md-10 ps-2 ">
                                            <input data-val="true" data-val-required="The Programme field is required."
                                                id="programme" name="programme" type="hidden" value="RSW" />
                                            RSW
                                            <span class="field-validation-valid text-danger" data-valmsg-for="programme"
                                                data-valmsg-replace="true"></span>
                                        </div>
                                    </div>
    
                                    <div class="form-group">
                                        <label class="control-label col-md-4 ps-2 pt-2 fw-bold" for="studentEmail">Student
                                            Email</label>
                                        <div class="col-md-10 ps-2">
                                            <input data-val="true" data-val-required="The Student Email field is required."
                                                id="studentEmail" name="studentEmail" type="hidden"
                                                value="leaugh-wm20@student.tarc.edu.my" />
                                            <a
                                                href="mailto:leaugh-wm20@student.tarc.edu.my">leaugh-wm20@student.tarc.edu.my</a>
                                            <span class="field-validation-valid text-danger" data-valmsg-for="studentEmail"
                                                data-valmsg-replace="true"></span>
                                        </div>
                                    </div>
    
                                    <div class="form-group">
                                        <label class="control-label col-md-4 ps-2 pt-2 fw-bold" for="contactNo">Mobile
                                            Number</label>
                                        <div class="col-md-10 ps-2">
                                            <input data-val="true" data-val-required="The Mobile Number field is required."
                                                id="contactNo" name="contactNo" type="hidden" value="016-3719303" />
                                            016-3719303
                                            <span class="field-validation-valid text-danger" data-valmsg-for="contactNo"
                                                data-valmsg-replace="true"></span>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="control-label col-md-2 ps-2 pt-2 fw-bold"
                                            for="attchCompanyAcceptance">Resume</label>
                                        <div class="col-md-10 ps-2 pb-4">
    
                                            <input accept=".pdf" id="fUploadCompanyAcceptance" name="attchCompanyAcceptance"
                                                type="file" value /> <span class="field-validation-valid text-danger"
                                                data-valmsg-for="attchCompanyAcceptance" data-valmsg-replace="true"></span>
                                        </div>
                                    </div>
    
                                </div>
                            </div>
                            <div class="col-md-1"></div>
                            <div class="flex-column">
                                <div class="card-header col-md-12 rounded me-5">
                                    <div class="card-header-content ps-2 pb-2 fw-bold">
                                        Summary
                                    </div>
    
                                    <div class>
                                        <label class="control-label ps-2 pt-2 fw-bold" for="cohortId">Cohort</label>
                                        <div class="ps-2">
                                            <input data-val="true" data-val-number="The field Cohort must be a number."
                                                data-val-required="The Cohort field is required." id="cohortId"
                                                name="cohortId" type="hidden" value="35" />
    
                                            <span>JUL2022Y2 (19/02/2024
                                                -
                                                04/08/2024) </span>
                                            <span class="field-validation-valid text-danger" data-valmsg-for="cohortId"
                                                data-valmsg-replace="true"></span>
                                        </div>
    
                                        <div class="form-group pt-2">
                                            <label class="control-label ps-2 fw-bold" for="Intern_Period">Intern
                                                Period</label>
    
                                            <div class="ps-2">
                                                <span>19 Feb 2024 - 04
                                                    Aug 2024
                                                </span>
                                                <span class="field-validation-valid text-danger" data-valmsg-for="cohortId"
                                                    data-valmsg-replace="true"></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group pt-2 col-md-3">
                                            <label class="control-label m-0 ps-2 col-md-2 fw-bold"
                                                for="applyStatus">Status</label>
                                            <div class="col-md-10 ps-2">
                                                <input data-val="true" data-val-required="The Status field is required."
                                                    id="applyStatus" name="applyStatus" type="hidden" value="Pending" />
                                                Pending
                                                <span class="field-validation-valid text-danger"
                                                    data-valmsg-for="applyStatus" data-valmsg-replace="true"></span>
                                            </div>
                                        </div>
    
                                        <div class="form-group pt-2">
                                            <label class="control-label mt-1 ps-2 col-md-2 fw-bold"
                                                for="remark">Remark</label>
                                            <div class="col-md-10 important-text pb-4">
                                                <input id="remark" name="remark" type="hidden" value />
                                                <span class="multiline"></span>
    
                                                <span class="field-validation-valid text-danger" data-valmsg-for="remark"
                                                    data-valmsg-replace="true"></span>
                                            </div>
                                        </div>
                                    </div>
    
                                </div>
                                <div class="card-header rounded col-md-12 mt-5">
                                    <div class="card-header-content ps-2 pb-2 fw-bold">UC
                                        Supervisor</div>
                                    <div class="panel-body">
                                        <div class="form-group" id="updateStatusMsg" hidden>
                                            <span class="col-md-offset-2 col-md-10">
                                                <i class="text-info">Saving
                                                    data...</i>
                                            </span>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label col-md-6 ps-2 pt-2 fw-bold" for="ucSupervisor">Uni
                                                Supervisor</label>
                                            <div class="col-md-10">
                                                <div class="col-md-10 ps-2">
    
                                                    <input id="ucSupervisor" name="ucSupervisor" type="hidden"
                                                        value="TEW YIQI" />TEW
                                                    YIQI
                                                    <span class="field-validation-valid text-danger"
                                                        data-valmsg-for="ucSupervisor" data-valmsg-replace="true"></span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label col-md-8 ps-2 pt-2 fw-bold"
                                                for="ucSupervisorEmail">Uni
                                                Supervisor
                                                Email</label>
                                            <div class="col-md-10">
                                                <div class="col-md-10 ps-2 pb-4">
                                                    <input id="ucSupervisorEmail" name="ucSupervisorEmail" type="hidden"
                                                        value="yiqi@tarc.edu.my" /><a
                                                        href="mailto:yiqi@tarc.edu.my">yiqi@tarc.edu.my</a>
                                                    <span class="field-validation-valid text-danger"
                                                        data-valmsg-for="ucSupervisorEmail"
                                                        data-valmsg-replace="true"></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="middle-container container border2">
                        <div class="d-flex flex-column">
    
                            <div class="card-header rounded col-md-10 mt-5 ">
                                <div class="card-header-content ps-2 pb-2 fw-bold">Company
                                    Detail</div>
                                <div class>
                                    <div class="form-group mt-2 ps-2 ">
                                        <label class="control-label col-md-5 pt-1 fw-bold" for="companyName">Company
                                            Name</label>
                                        <div class="col-md-10">
                                            <div>
                                                <div>
                                                    <input class="form-control long-textbox text-box single-line"
                                                        id="companyName" name="companyName" type="text" value />
                                                </div>
                                            </div>
                                            <span class="field-validation-valid text-danger" data-valmsg-for="companyName"
                                                data-valmsg-replace="true"></span>
                                        </div>
    
                                    </div>
    
                                    <div class="form-group mt-2 ps-2">
                                        <label class="control-label col-md-5 fw-bold" for="companyAddress">Address</label>
                                        <div class="col-md-10">
                                            <textarea class="form-control" cols="20" id="companyAddress"
                                                name="companyAddress" readonly="readonly" rows="6">
                                                    </textarea>
                                            <span class="field-validation-valid text-danger"
                                                data-valmsg-for="companyAddress" data-valmsg-replace="true"></span>
                                        </div>
                                    </div>
    
                                    <div class="form-group mt-2 ps-2">
                                        <label class="control-label col-md-5 fw-bold" for="allowance">Monthly
                                            Allowance</label>
                                        <div class="col-md-10">
                                            <input class="form-control text-box single-line" data-val="true"
                                                data-val-number="The field Monthly Allowance must be a number."
                                                data-val-required="The Monthly Allowance field is required." id="allowance"
                                                name="allowance" type="text" value="0" />
                                            <span class="field-validation-valid text-danger" data-valmsg-for="allowance"
                                                data-valmsg-replace="true"></span>
                                        </div>
                                    </div>
    
                                    <div class="form-group mt-2 ps-2">
                                        <label class="control-label col-md-5 fw-bold" for="companySupervisor">Com.
                                            Supervisor
                                            Name</label>
                                        <div class="col-md-10">
                                            <input class="form-control text-box single-line" id="companySupervisor"
                                                name="companySupervisor" type="text" value />
                                            <span class="field-validation-valid text-danger"
                                                data-valmsg-for="companySupervisor" data-valmsg-replace="true"></span>
                                        </div>
                                    </div>
    
                                    <div class="form-group mt-2 ps-2 pb-4">
                                        <label class="control-label col-md-5 fw-bold" for="companySupervisorEmail">Com.
                                            Supervisor
                                            Email</label>
                                        <div class="col-md-10">
                                            <input class="form-control text-box single-line" id="companySupervisorEmail"
                                                name="companySupervisorEmail" type="email" value />
                                            <span class="field-validation-valid text-danger"
                                                data-valmsg-for="companySupervisorEmail" data-valmsg-replace="true"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="btm-container container border-2 mt-5">
                        <div class="d-flex">
                            <div class="card-header rounded col-md-5" id="card-form">
                                <div class="card-header-content ps-2 pb-2  fw-bold">Submit
                                    form</div>
                                <div class>
                                    <div class="form-group mt-2 ps-2">
                                        <label class="control-label col-md-5 fw-bold" for="attchCompanyAcceptance">Com.
                                            Acceptance
                                            Form</label>
                                        <div class="col-md-10">
    
                                            <input accept=".pdf" id="fUploadCompanyAcceptance" name="attchCompanyAcceptance"
                                                type="file" value /> <span class="field-validation-valid text-danger"
                                                data-valmsg-for="attchCompanyAcceptance" data-valmsg-replace="true"></span>
                                        </div>
                                    </div>
    
                                    <div class="form-group mt-2 ps-2">
                                        <label class="control-label col-md-5 fw-bold" for="attchParentAck">Parent Ack.
                                            Form</label>
                                        <div class="col-md-10">
    
                                            <input accept=".pdf" id="fUploadParentAck" name="attchParentAck" type="file"
                                                value /> <span class="field-validation-valid text-danger"
                                                data-valmsg-for="attchParentAck" data-valmsg-replace="true"></span>
                                        </div>
                                    </div>
    
                                    <div class="form-group mt-2 ps-2">
                                        <label class="control-label col-md-5 fw-bold" for="attchLetterOfIndemnity">Letter
                                            of
                                            Indemnity</label>
                                        <div class="col-md-10">
    
                                            <input accept=".pdf" id="fUploadLetterOfIndemnity" name="attchLetterOfIndemnity"
                                                type="file" value /> <span class="field-validation-valid text-danger"
                                                data-valmsg-for="attchLetterOfIndemnity" data-valmsg-replace="true"></span>
                                        </div>
                                    </div>
    
                                    <div class="form-group mt-2 ps-2">
                                        <label class="control-label col-md-5 fw-bold" for="attchHiredEvidence">Hired
                                            evidence (if
                                            any)</label>
                                        <div class="col-md-10">
    
                                            <input accept=".pdf" id="fUploadHiredEvident" name="attchHiredEvidence"
                                                type="file" value /> <span class="field-validation-valid text-danger"
                                                data-valmsg-for="attchHiredEvidence" data-valmsg-replace="true"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-1"></div>
                            <div class="card-header rounded col-md-5" id="report-form">
                                <div class="card-header-content ps-2 pb-2  fw-bold">Submit
                                    report</div>
                                <div class>
                                    <div class="form-group mt-2 ps-2">
                                        <label class="control-label col-md-5 fw-bold" for="monthlyReport">Monthly
                                            Report</label>
                                        <div class="col-md-10">
    
                                            <input accept=".pdf" id="UploadMonthlyReport" name="monthlyReport" type="file"
                                                value />
                                            <span class="field-validation-valid text-danger" data-valmsg-for="monthlyReport"
                                                data-valmsg-replace="true"></span>
                                        </div>
                                    </div>
    
                                    <div class="form-group mt-2 ps-2">
                                        <label class="control-label col-md-5 fw-bold" for="finalReport">Final
                                            Report</label>
                                        <div class="col-md-10">
    
                                            <input accept=".pdf" id="UploadFinalReport" name="finalReport" type="file"
                                                value /> <span class="field-validation-valid text-danger"
                                                data-valmsg-for="finalReport" data-valmsg-replace="true"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="align-items-center text-center justify-content-center ms-5 mt-3">
                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <input type="submit" name="submit" value="Save And Submit"
                                    class="save-button btn text-black" />
                            </div>
                        </div>
                    </div>
    
                </div>
            </form>
    </section> -->
    </main><!-- End #main -->

    <!-- ======= Footer ======= -->
    <footer id="footer">
        <div class="container d-md-flex py-4">
            <div class="copyright">
                &copy; 2023 - Internship Management System
            </div>
        </div>
    </footer><!-- End Footer -->

    <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
            class="bi bi-arrow-up-short"></i></a>

    <!-- Vendor JS Files -->
    <script src="../assets/vendor/purecounter/purecounter_vanilla.js"></script>
    <script src="../assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="../assets/vendor/glightbox/js/glightbox.min.js"></script>
    <script src="../assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
    <script src="../assets/vendor/swiper/swiper-bundle.min.js"></script>
    <script src="../assets/vendor/waypoints/noframework.waypoints.js"></script>
    <script src="../assets/vendor/php-email-form/validate.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
        crossorigin="anonymous"></script>

    <!-- Template Main JS File -->
    <script src="../assets/js/main.js"></script>

</body>
<!-- Document Modal -->
<div class="modal fade" id="documentModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Document Templates</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="panel-body">
                    <ol class="text-success">

                        <li><a href="/Student/DownloadCompanyAcceptanceLetter" target="_blank">Company
                                Acceptance Letter</a></li>
                        <li><a href="/Student/DownloadIndemnityLetter" target="_blank">Indemnity
                                Letter</a></li>
                        <li><a href="/Student/DownloadParentAcknowledgementForm" target="_blank">Parent
                                Acknowledgement Form</a></li>

                        <li><a href="/Student/DownloadTemplateForm?template=FOCS_StudF03&amp;level=Bachelor"
                                target="_blank">Progress
                                report template</a></li>
                        <li><a href="/Student/DownloadTemplateForm?template=FOCS_StudF04&amp;level=Bachelor"
                                target="_blank">Final
                                report template</a></li>
                        <li><a href="/Student/DownloadSupportLetter" target="_blank">Student
                                Support Letter</a></li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</div>

</html>