<!-- student homepage -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>Internship Management System</title>
    <meta content name="description">
    <meta content name="keywords">

    <!-- Favicons -->
    <link href="../assets/img/favicon.png" rel="icon">

    <!-- Google Fonts -->
    <link
        href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
        rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="../assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="../assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="../assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="../assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
    <link href="../assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">

    <!-- Template Main CSS File -->
    <link href="../assets/css/style.css" rel="stylesheet">
</head>

<body>

    <!-- ======= Header ======= -->
    <header id="header" class="fixed-top d-flex align-items-center">
        <div class="container d-flex align-items-center">

            <div class="logo me-auto">
                <h1><a href="{{ url_for('studentHome') }}">Lanternship</a></h1>
            </div>

            <nav id="navbar" class="navbar order-last order-lg-0">
                <ul>
                    <li><a class="nav-link scrollto" href="{{ url_for('studentHome') }}">Home</a></li>
                    <li><a class="nav-link scrollto" href="{{ url_for('studentCompanyList') }}companyList.html">Find Company</a></li>
                    <li><a class="nav-link scrollto" href="{{ url_for('studentApplicationHistory') }}">Job Application History</a></li>
                    <li><a class="nav-link scrollto" href="{{ url_for('index') }}">Logout</a></li>
                </ul>
                <i class="bi bi-list mobile-nav-toggle"></i>
            </nav><!-- .navbar -->
        </div>
    </header><!-- End Header -->

    <!-- ======= Inner Page ======= -->
    <section class="inner-page">
        <div class="container py-5">
            <button type="button" class="btn btn-secondary ms-1" style="float: right;" data-bs-toggle="modal"
                data-bs-target="#documentModal">Download Document Templates</button>
            <h2>Welcome: Leau Goon Hei!<br />
                <hr><br />
            </h2>
            <div class="row">
                <div class="col-lg-6">
                    <h4 class="my-3 text-primary"><b>Student Info</b></h4>
                    <div class="card mb-4">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-sm-3">
                                    <p class="mb-0">Student studentName</p>
                                </div>
                                <div class="col-sm-9">
                                    <p class="text-muted mb-0">LEAU GOON HEI</p>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-3">
                                    <p class="mb-0">Student ID</p>
                                </div>
                                <div class="col-sm-9">
                                    <p class="text-muted mb-0">22WMR00000</p>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-3">
                                    <p class="mb-0">NRIC No.</p>
                                </div>
                                <div class="col-sm-9">
                                    <p class="text-muted mb-0">999999-99-9999</p>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-3">
                                    <p class="mb-0">Gender</p>
                                </div>
                                <div class="col-sm-9">
                                    <p class="text-muted mb-0">Male</p>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-3">
                                    <p class="mb-0">Student Email</p>
                                </div>
                                <div class="col-sm-9">
                                    <p class="text-muted mb-0"><a
                                            href="mailto:leaugh-wm20@student.tarc.edu.my">leaugh-wm20@student.tarc.edu.my</a>
                                    </p>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-3">
                                    <p class="mb-0">Contact No.</p>
                                </div>
                                <div class="col-sm-9">
                                    <p class="text-muted mb-0"><a href="tel:+603719303">016-3719303</a></p>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-3">
                                    <p class="mb-0">Programme</p>
                                </div>
                                <div class="col-sm-9">
                                    <p class="text-muted mb-0">Bachelor degree in software engineering</p>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-3">
                                    <p class="mb-0">CGPA</p>
                                </div>
                                <div class="col-sm-9">
                                    <p class="text-muted mb-0">4.0000</p>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-3">
                                    <p class="mb-0">Resume</p>
                                </div>
                                <div class="col-sm-9">
                                    <p class="text-muted mb-0"><a href="">click to view resume</a></p>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="d-flex justify-content-center mb-2">
                                    <button type="button" class="btn btn-outline-primary ms-1" style="float: right;"
                                        data-bs-toggle="modal" data-bs-target="#editInfoModal">Edit Info</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br />
                    <h4 class="my-3 text-primary"><b>Internship Summary & Supervisor</b></h4>
                    <div class="card mb-4 mb-lg-0">
                        <div class="card-body p-0">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-sm-3">
                                        <p class="mb-0">Cohort</p>
                                    </div>
                                    <div class="col-sm-9">
                                        <p class="text-muted mb-0">JUL2022Y2</p>
                                    </div>
                                </div>
                                <hr>
                                <div class="row">
                                    <div class="col-sm-3">
                                        <p class="mb-0">Intern Period</p>
                                    </div>
                                    <div class="col-sm-9">
                                        <p class="text-muted mb-0">19 Feb 2024 - 04 Aug 2024</p>
                                    </div>
                                </div>
                                <hr>
                                <div class="row">
                                    <div class="col-sm-3">
                                        <p class="mb-0">Uni Supervisor</p>
                                    </div>
                                    <div class="col-sm-9">
                                        <p class="text-muted mb-0">Tew Qi Qi</p>
                                    </div>
                                </div>
                                <hr>
                                <div class="row">
                                    <div class="col-sm-3">
                                        <p class="mb-0">Uni Supervisor Email</p>
                                    </div>
                                    <div class="col-sm-9">
                                        <p class="text-muted mb-0"><a
                                                href="mailto:yiqi@tarc.edu.my">yiqi@tarc.edu.my</a></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br />
                    <h4 class="my-3 text-primary"><b>Report Submission</b></h4>
                    <div class="card mb-4">
                        <div class="card-body">
                            <form action="{{ url_for('studentHome') }}" method=""
                                onsubmit="return confirm('Are you sure to submit these reports? Once submitted, cannot be changed anymore.')">
                                <div class="form-group">
                                    <label for="monthlyReport" class="col-form-label">Monthly Reports (Upload all your
                                        monthly reports in once)</label>
                                    <input type="file" class="form-control" id="monthlyReport" placeholder=""
                                        multiple="multiple" required>
                                </div>
                                <br />
                                <div class="form-group">
                                    <label for="finalReport" class="col-form-label">Final Report</label>
                                    <input type="file" class="form-control" id="finalReport" placeholder="" required>
                                </div>
                                <br />
                                <hr>
                                <div class="row">
                                    <div class="d-flex justify-content-center mb-2">
                                        <button type="submit" class="btn btn-primary ms-1"
                                            style="float: right;">Submit</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <h4 class="my-3 text-primary"><b>Company Detail</b></h4>
                    <div class="card mb-4 mb-lg-0">
                        <div class="card-body p-0">
                            <div class="card-body">
                                <form action="{{ url_for('studentHome') }}" method=""
                                    onsubmit="return confirm('Are you sure to submit this company? Once submitted, cannot be changed anymore.')">
                                    <div class="form-group">
                                        <label for="companyName" class="col-form-label">Company Name</label>
                                        <input type="text" class="form-control" id="companyName" placeholder=""
                                            required>
                                    </div>
                                    <br />
                                    <div class="form-group">
                                        <label for="companyAddress" class="col-form-label">Company Address</label>
                                        <textarea class="form-control" id="companyAddress" placeholder="" rows="3"
                                            required></textarea>
                                    </div>
                                    <br />
                                    <div class="form-group">
                                        <label for="allowance" class="col-form-label">Monthy Allowance (RM)</label>
                                        <input type="text" class="form-control" id="allowance"
                                            placeholder="e.g. 1000.00" pattern="\d+\.\d{2}" required>
                                    </div>
                                    <br />
                                    <div class="form-group">
                                        <label for="compSupervisorName" class="col-form-label">Com. Supervisor
                                            Name</label>
                                        <input type="text" class="form-control" id="compSupervisorName" placeholder=""
                                            required>
                                    </div>
                                    <br />
                                    <div class="form-group ">
                                        <label for="compSupervisorEmail" class="col-form-label">Com. Supervisor
                                            Email</label>
                                        <input type="email" class="form-control" id="compSupervisorEmail"
                                            placeholder="e.g. xxx@xxx.com" required>
                                    </div>
                                    <br />
                                    <div class="form-group">
                                        <label for="compSupervisorContact" class="col-form-label">Com. Supervisor
                                            Contact</label>
                                        <input type="text" class="form-control" id="compSupervisorEmail"
                                            placeholder="e.g. 019-9999999" pattern="\d{2,3}-\d{7,8}" required>
                                    </div>
                                    <br />
                                    <h5 class="my-3 text-secondary"><b>Forms Submission</b></h5>
                                    <div class="form-group">
                                        <label for="compAcceptanceForm" class="col-form-label">Com. Acceptance
                                            Form</label>
                                        <input type="file" class="form-control" id="compAcceptanceForm" placeholder=""
                                            required>
                                    </div>
                                    <br />
                                    <div class="form-group">
                                        <label for="parrentAckForm" class="col-form-label">Parent Ack. Form</label>
                                        <input type="file" class="form-control" id="parrentAckForm" placeholder=""
                                            required>
                                    </div>
                                    <br />
                                    <div class="form-group">
                                        <label for="letterOfIndemnity" class="col-form-label">Letter of
                                            Indemnity</label>
                                        <input type="file" class="form-control" id="letterOfIndemnity" placeholder=""
                                            required>
                                    </div>
                                    <br />
                                    <div class="form-group">
                                        <label for="hiredEvidence" class="col-form-label">Hired evidence (if
                                            any)</label>
                                        <input type="file" class="form-control" id="hireEvidence" placeholder="">
                                    </div>
                                    <br />
                                    <hr>
                                    <div class="row">
                                        <div class="d-flex justify-content-center mb-2">
                                            <button type="submit" class="btn btn-primary ms-1"
                                                style="float: right;">Submit</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End Inner Page -->

    </main><!-- End #main -->

    <!-- ======= Footer ======= -->
    <footer id="footer">
        <div class="container d-md-flex py-4">
            <div class="copyright">
                &copy; 2023 - Internship Management System
            </div>
        </div>
    </footer><!-- End Footer -->

    <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
            class="bi bi-arrow-up-short"></i></a>

    <!-- Vendor JS Files -->
    <script src="../assets/vendor/purecounter/purecounter_vanilla.js"></script>
    <script src="../assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="../assets/vendor/glightbox/js/glightbox.min.js"></script>
    <script src="../assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
    <script src="../assets/vendor/swiper/swiper-bundle.min.js"></script>
    <script src="../assets/vendor/waypoints/noframework.waypoints.js"></script>
    <script src="../assets/vendor/php-email-form/validate.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
        crossorigin="anonymous"></script>

    <!-- Template Main JS File -->
    <script src="../assets/js/main.js"></script>

</body>
<!-- Document Modal -->
<div class="modal fade" id="documentModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Document Templates</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="panel-body">
                    <ol class="text-success">

                        <li><a href="/Student/DownloadCompanyAcceptanceLetter" target="_blank">Company
                                Acceptance Letter</a></li>
                        <li><a href="/Student/DownloadIndemnityLetter" target="_blank">Indemnity
                                Letter</a></li>
                        <li><a href="/Student/DownloadParentAcknowledgementForm" target="_blank">Parent
                                Acknowledgement Form</a></li>

                        <li><a href="/Student/DownloadTemplateForm?template=FOCS_StudF03&amp;level=Bachelor"
                                target="_blank">Progress
                                report template</a></li>
                        <li><a href="/Student/DownloadTemplateForm?template=FOCS_StudF04&amp;level=Bachelor"
                                target="_blank">Final
                                report template</a></li>
                        <li><a href="/Student/DownloadSupportLetter" target="_blank">Student
                                Support Letter</a></li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Edit Student Info Modal -->
<div class="modal fade" id="editInfoModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <form action="{{ url_for('studentHome') }}" method="" onsubmit="return confirm('Are you sure to this changes？')">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Edit Info</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="panel-body">
                        <div class="form-group">
                            <label for="contactNo">Contact Number</label>
                            <input type="text" class="form-control" placeholder="e.g. 019-9999999" id="contactNo"
                                pattern="\d{2,3}-\d{7,8}" value="016-3719303">
                        </div>
                        <br />
                        <div class="form-group">
                            <label for="cgpa">CGPA</label>
                            <input type="text" class="form-control" placeholder="e.g. 4.0000" id="cgpa"
                                pattern="\d+(\.\d{4})" value="4.0000">
                        </div>
                        <br />
                        <div class="form-group">
                            <label for="cgpa">Upload new resume (if any)</label>
                            <input type="file" class="form-control" placeholder="e.g. 4.0000" id="cgpa"
                                pattern="\d+(\.\d{4})">
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Save</button>
                </div>
            </form>
        </div>
    </div>
</div>

</html>