<!-- student homepage -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>Lanternship: Student</title>
    <meta content name="description">
    <meta content name="keywords">

    <!-- Favicons -->
    <link href="{{ url_for('static', filename='img/favicon.png') }}" rel="icon">

    <!-- Google Fonts -->
    <link
        href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
        rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="{{ url_for('static', filename='vendor/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='vendor/bootstrap-icons/bootstrap-icons.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='vendor/boxicons/css/boxicons.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='vendor/glightbox/css/glightbox.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='vendor/swiper/swiper-bundle.min.css') }}" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">

    <!-- Template Main CSS File -->
    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">
</head>

<body>

    <!-- ======= Header ======= -->
    <header id="header" class="fixed-top d-flex align-items-center">
        <div class="container d-flex align-items-center">

            <div class="logo me-auto">
                <h1><a href="{{ url_for('studentHome') }}">Lanternship</a></h1>
            </div>

            <nav id="navbar" class="navbar order-last order-lg-0">
                <ul>
                    <li><a class="nav-link scrollto" href="{{ url_for('studentHome') }}">Home</a></li>
                    <li><a class="nav-link scrollto" href="{{ url_for('studentCompanyList') }}">Find Company</a></li>
                    <li><a class="nav-link scrollto" href="{{ url_for('studentApplicationHistory') }}">Job Application History</a></li>
                    <li><a class="nav-link scrollto" href="{{ url_for('logout') }}">Logout</a></li>
                </ul>
                <i class="bi bi-list mobile-nav-toggle"></i>
            </nav><!-- .navbar -->
        </div>
    </header><!-- End Header -->

    <!-- ======= Inner Page ======= -->
    <section class="inner-page">
        <div class="container py-5">
            <button type="button" class="btn btn-secondary ms-1" style="float: right;" data-bs-toggle="modal"
                data-bs-target="#documentModal">Download Document Templates</button>
            <h2>Welcome: {{ user.studName }}!<br />
                <hr><br />
            </h2>
            <div class="row">
                <div class="col-lg-6">
                    <h4 class="my-3 text-primary"><b>Student Info</b></h4>
                    <div class="card mb-4">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-sm-3">
                                    <p class="mb-0">Student Name</p>
                                </div>
                                <div class="col-sm-9">
                                    <p class="text-muted mb-0">{{ user.studName }}</p>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-3">
                                    <p class="mb-0">Student ID</p>
                                </div>
                                <div class="col-sm-9">
                                    <p class="text-muted mb-0">{{ user.studID }}</p>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-3">
                                    <p class="mb-0">NRIC No.</p>
                                </div>
                                <div class="col-sm-9">
                                    <p class="text-muted mb-0">{{ user.studIC }}</p>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-3">
                                    <p class="mb-0">Gender</p>
                                </div>
                                <div class="col-sm-9">
                                    <p class="text-muted mb-0">{{ user.gender }}</p>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-3">
                                    <p class="mb-0">Student Email</p>
                                </div>
                                <div class="col-sm-9">
                                    <p class="text-muted mb-0"><a
                                            href="mailto:{{ user.studEmail }}">{{ user.studEmail }}</a>
                                    </p>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-3">
                                    <p class="mb-0">Contact No.</p>
                                </div>
                                <div class="col-sm-9">
                                    <p class="text-muted mb-0"><a href="tel:+6{{ user.studPhone }}">{{ user.studPhone }}</a></p>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-3">
                                    <p class="mb-0">Programme</p>
                                </div>
                                <div class="col-sm-9">
                                    <p class="text-muted mb-0">{{ user.course }}</p>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-3">
                                    <p class="mb-0">CGPA</p>
                                </div>
                                <div class="col-sm-9">
                                    <p class="text-muted mb-0">{{ user.cgpa }}</p>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-3">
                                    <p class="mb-0">Resume</p>
                                </div>
                                <div class="col-sm-9">
                                    <p class="text-muted mb-0"><a href="{{ resume_url }}" target="_blank">click to view resume</a></p>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="d-flex justify-content-center mb-2">
                                    <button type="button" class="btn btn-outline-primary ms-1" style="float: right;"
                                        data-bs-toggle="modal" data-bs-target="#editInfoModal">Edit Info</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br />
                    <h4 class="my-3 text-primary"><b>Internship Summary & Supervisor</b></h4>
                    <div class="card mb-4 mb-lg-0">
                        <div class="card-body p-0">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-sm-3">
                                        <p class="mb-0">Cohort</p>
                                    </div>
                                    <div class="col-sm-9">
                                        <p class="text-muted mb-0">{{ user.cohort }}</p>
                                    </div>
                                </div>
                                <hr>
                                <div class="row">
                                    <div class="col-sm-3">
                                        <p class="mb-0">Intern Period</p>
                                    </div>
                                    <div class="col-sm-9">
                                        <p class="text-muted mb-0">{{ user.internStartDate }} - {{ user.internEndDate }}</p>
                                    </div>
                                </div>
                                <hr>
                                <div class="row">
                                    <div class="col-sm-3">
                                        <p class="mb-0">Uni Supervisor</p>
                                    </div>
                                    <div class="col-sm-9">
                                        <p class="text-muted mb-0">{{ user.lecName }}</p>
                                    </div>
                                </div>
                                <hr>
                                <div class="row">
                                    <div class="col-sm-3">
                                        <p class="mb-0">Uni Supervisor Email</p>
                                    </div>
                                    <div class="col-sm-9">
                                        <p class="text-muted mb-0"><a
                                                href="mailto:{{ user.lecEmail }}">{{ user.lecEmail }}</a></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br />
                    <h4 class="my-3 text-primary"><b>Report Submission</b></h4>
                    {% if rptStatus == 0 %}<p style="font-size:12px">(All report must be in pdf format)</p>{% endif %}
                    <div class="card mb-4">
                        <div class="card-body">
                            <form action="{{ url_for('studentHome') }}" method="POST" enctype="multipart/form-data"
                                onsubmit="return confirm('Are you sure to submit these reports? Once submitted, cannot be changed anymore.')">
                                <input type="hidden" name="action" value="submitReport">
                                <div class="form-group">
                                    {% if rptStatus == 0 %}
                                    <label for="progressReport1" class="col-form-label">Progress Report 1</label>
                                    <input type="file" class="form-control" id="progressReport1" name="progressReport1" placeholder="" required accept=".pdf">
                                    <br />
                                    {% else %}
                                    <a href="{{ progressReport1_url }}" class="btn btn-secondary ms-1"
                                        style="margin: 5px; width: 100%; text-align: center;"
                                        target="_blank">Progress Report 1</a>
                                    {% endif %}
                                </div>
                                <div class="form-group">
                                    {% if rptStatus == 0 %}
                                    <label for="progressReport2" class="col-form-label">Progress Report 2</label>
                                    <input type="file" class="form-control" id="progressReport2" name="progressReport2" placeholder="" required accept=".pdf">
                                    <br />
                                    {% else %}
                                    <a href="{{ progressReport2_url }}" class="btn btn-secondary ms-1"
                                        style="margin: 5px; width: 100%; text-align: center;"
                                        target="_blank">Progress Report 2</a>
                                    {% endif %}
                                </div>
                                <div class="form-group">
                                    {% if rptStatus == 0 %}
                                    <label for="progressReport3" class="col-form-label">Progress Report 3</label>
                                    <input type="file" class="form-control" id="progressReport3" name="progressReport3" placeholder="" required accept=".pdf">
                                    <br />
                                    {% else %}
                                    <a href="{{ progressReport3_url }}" class="btn btn-secondary ms-1"
                                        style="margin: 5px; width: 100%; text-align: center;"
                                        target="_blank">Progress Report 3</a>
                                    {% endif %}
                                </div>
                                <div class="form-group">
                                    {% if rptStatus == 0 %}
                                    <label for="finalReport" class="col-form-label">Final Report</label>
                                    <input type="file" class="form-control" id="finalReport" name="finalReport" placeholder="" required accept=".pdf">
                                    {% else %}
                                    <a href="{{ finalReport_url }}" class="btn btn-secondary ms-1"
                                        style="margin: 5px; width: 100%; text-align: center;"
                                        target="_blank">Final Report</a>
                                    {% endif %}
                                </div>
                                <br />
                                {% if rptStatus == 0 %}
                                <hr>
                                <div class="row">
                                    <div class="d-flex justify-content-center mb-2">
                                        <button type="submit" class="btn btn-primary ms-1"
                                            style="float: right;">Submit</button>
                                    </div>
                                </div>
                                {% endif %}
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <h4 class="my-3 text-primary"><b>Company Detail</b></h4>
                    <div class="card mb-4 mb-lg-0">
                        <div class="card-body p-0">
                            <div class="card-body">
                                <form action="{{ url_for('studentHome') }}" method="POST" enctype="multipart/form-data"
                                    onsubmit="return confirm('Are you sure to submit this company? Once submitted, cannot be changed anymore.')">
                                    <input type="hidden" name="action" value="editCompany">
                                    <div class="form-group">
                                        <label for="companyName" class="col-form-label">Company Name</label>
                                        <input type="text" class="form-control" id="companyName" placeholder="your internship company name"
                                            {% if user.compName %} value="{{ user.compName }}" disabled {% endif %} name="companyName"
                                            required>
                                    </div>
                                    <br />
                                    <div class="form-group">
                                        <label for="companyAddress" class="col-form-label">Company Address</label>
                                        <textarea class="form-control" id="companyAddress" placeholder="your internship company address" rows="3" name="companyAddress" {% if user.compAddr %}disabled{% endif %}
                                            required>{% if user.compName %}{{ user.compAddr }}{% endif %}</textarea>
                                    </div>
                                    <br />
                                    <div class="form-group">
                                        <label for="allowance" class="col-form-label">Monthy Allowance (RM)</label>
                                        <input type="text" class="form-control" id="allowance"
                                            placeholder="e.g. 1000.00" pattern="\d+\.\d{2}" name="allowance"
                                            {% if user.compName %} value="{{ user.monthlyAllowance }}" disabled {% endif %}
                                            required>
                                    </div>
                                    <br />
                                    <div class="form-group">
                                        <label for="compSupervisorName" class="col-form-label">Com. Supervisor
                                            Name</label>
                                        <input type="text" class="form-control" id="compSupervisorName" placeholder="your internship company supervisor name" name="compSupervisorName"
                                            {% if user.compName %} value="{{ user.compSupervisorName }}" disabled {% endif %}
                                            required>
                                    </div>
                                    <br />
                                    <div class="form-group ">
                                        <label for="compSupervisorEmail" class="col-form-label">Com. Supervisor
                                            Email</label>
                                        <input type="email" class="form-control" id="compSupervisorEmail" name="compSupervisorEmail"
                                            {% if user.compName %} value="{{ user.compSupervisorEmail }}" disabled {% endif %}
                                            placeholder="e.g. xxx@xxx.com" required>
                                    </div>
                                    <br />
                                    <div class="form-group">
                                        <label for="compSupervisorContact" class="col-form-label">Com. Supervisor
                                            Contact</label>
                                        <input type="text" class="form-control" id="compSupervisorContact" name="compSupervisorContact"
                                            {% if user.compName %} value="{{ user.compSupervisorPhone }}" disabled {% endif %}
                                            placeholder="e.g. 019-9999999" pattern="\d{2,3}-\d{7,8}" required>
                                    </div>
                                    <br />
                                    <h5 class="my-3 text-secondary"><b>Forms Submission</b></h5>
                                    {% if user.compName is none %}<p style="font-size:12px">(All forms must be in pdf format)</p>{% endif %} 
                                    <div class="form-group">
                                        {% if user.compName %}
                                        <a href="{{ compAcceptanceForm_url }}" class="btn btn-secondary ms-1"
                                        style="margin: 5px; width: 100%; text-align: center;"
                                        target="_blank">Com. Acceptance Form</a>
                                        {% else %} 
                                        <label for="compAcceptanceForm" class="col-form-label">Com. Acceptance Form</label>
                                        <input type="file" class="form-control" id="compAcceptanceForm" name="compAcceptanceForm" placeholder="" required accept=".pdf">
                                        <br />
                                        {% endif %}
                                    </div>
                                    <div class="form-group">
                                        {% if user.compName %}
                                        <a href="{{ parrentAckForm_url }}" class="btn btn-secondary ms-1"
                                        style="margin: 5px; width: 100%; text-align: center;"
                                        target="_blank">Parent Ack. Form</a>
                                        {% else %} 
                                        <label for="parrentAckForm" class="col-form-label">Parent Ack. Form</label>
                                        <input type="file" class="form-control" id="parrentAckForm" name="parrentAckForm" placeholder="" required accept=".pdf">
                                        <br />
                                        {% endif %}
                                    </div>
                                    <div class="form-group">
                                        {% if user.compName %}
                                        <a href="{{ letterOfIndemnity_url }}" class="btn btn-secondary ms-1"
                                        style="margin: 5px; width: 100%; text-align: center;"
                                        target="_blank">Letter of Indemnity</a>
                                        {% else %} 
                                        <label for="letterOfIndemnity" class="col-form-label">Letter of Indemnity</label>
                                        <input type="file" class="form-control" id="letterOfIndemnity" name="letterOfIndemnity" placeholder="" required accept=".pdf">
                                        <br />
                                        {% endif %}
                                    </div>
                                    <br />
                                    {% if user.compName is none %}
                                    <hr>
                                    <div class="row">
                                        <div class="d-flex justify-content-center mb-2">
                                            <button type="submit" class="btn btn-primary ms-1"
                                                style="float: right;">Submit</button>
                                        </div>
                                    </div>
                                    {% endif %}
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End Inner Page -->

    </main><!-- End #main -->

    <!-- ======= Footer ======= -->
    <footer id="footer">
        <div class="container d-md-flex py-4">
            <div class="copyright">
                &copy; 2023 - Internship Management System
            </div>
        </div>
    </footer><!-- End Footer -->

    <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
            class="bi bi-arrow-up-short"></i></a>

    <!-- Vendor JS Files -->
    <script src="{{ url_for('static', filename='vendor/purecounter/purecounter_vanilla.js') }}"></script>
  <script src="{{ url_for('static', filename='vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
  <script src="{{ url_for('static', filename='vendor/glightbox/js/glightbox.min.js') }}"></script>
  <script src="{{ url_for('static', filename='vendor/isotope-layout/isotope.pkgd.min.js') }}"></script>
  <script src="{{ url_for('static', filename='vendor/swiper/swiper-bundle.min.js') }}"></script>
  <script src="{{ url_for('static', filename='vendor/waypoints/noframework.waypoints.js') }}"></script>
  <script src="{{ url_for('static', filename='vendor/php-email-form/validate.js') }}"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
        crossorigin="anonymous"></script>

    <!-- Template Main JS File -->
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>

</body>
<!-- Document Modal -->
<div class="modal fade" id="documentModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Document Templates</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="panel-body">
                    <ol class="text-success">

                        <li><a href="{{ url_for('static', filename='img/docTemplates/CompanyAcceptanceLetter.docx') }}" target="_blank" download="CompanyAcceptanceLetter.docx">Company
                                Acceptance Letter</a></li>
                        <li><a href="{{ url_for('static', filename='img/docTemplates/IndemnityLetter.docx') }}" target="_blank" download="IndemnityLetter.docx">Indemnity
                                Letter</a></li>
                        <li><a href="{{ url_for('static', filename='img/docTemplates/ParentAcknowledgementForm.docx') }}" target="_blank" download="ParentAcknowledgementForm.docx">Parent
                                Acknowledgement Form</a></li>

                        <li><a href="{{ url_for('static', filename='img/docTemplates/ProgressReportTemplate.docx') }}" target="_blank" download="ProgressReportTemplate.docx">Progress
                                report template</a></li>
                        <li><a href="{{ url_for('static', filename='img/docTemplates/FinalReportTemplate.docx') }}" target="_blank" download="FinalReportTemplate.docx">Final
                                report template</a></li>
                        <li><a href="{{ url_for('static', filename='img/docTemplates/StudentSupportLetter.docx') }}" target="_blank" download="StudentSupportLetter.docx">Student
                                Support Letter</a></li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Edit Student Info Modal -->
<div class="modal fade" id="editInfoModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <form action="{{ url_for('studentHome') }}" method="POST" enctype="multipart/form-data" onsubmit="return confirm('Are you sure to this changes？')">
                <input type="hidden" name="action" value="editInfo">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Edit Info</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="panel-body">
                        <div class="form-group">
                            <label for="contactNo">Contact Number</label>
                            <input type="text" class="form-control" placeholder="e.g. 019-9999999" id="contactNo" name="contactNo"
                                pattern="\d{2,3}-\d{7,8}" value="{{ user.studPhone }}">
                        </div>
                        <br />
                        <div class="form-group">
                            <label for="cgpa">CGPA</label>
                            <input type="text" class="form-control" placeholder="e.g. 4.0000" id="cgpa" name="cgpa"
                                pattern="\d+(\.\d{4})" value="{{ user.cgpa }}">
                        </div>
                        <br />
                        <div class="form-group">
                            <label for="cgpa">Upload new resume (if any)</label>
                            <input type="file" class="form-control" placeholder="" id="resume" name="resume" accept=".pdf">
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Save</button>
                </div>
            </form>
        </div>
    </div>
</div>

</html>