<!-- Homepage -->
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Internship Management System</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="{{ url_for('static', filename='img/favicon.png') }}" rel="icon">

  <!-- Google Fonts -->
  <link
    href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
    rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{{ url_for('static', filename='vendor/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='vendor/bootstrap-icons/bootstrap-icons.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='vendor/boxicons/css/boxicons.min.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='vendor/glightbox/css/glightbox.min.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='vendor/swiper/swiper-bundle.min.css') }}" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">
</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top d-flex align-items-center">
    <div class="container d-flex align-items-center">

      <div class="logo me-auto">
        <h1><a href="{{ url_for('index') }}">Lanternship</a></h1>
      </div>

      <nav id="navbar" class="navbar order-last order-lg-0">
        <ul>
          <li class="dropdown"><a href="#"><span>Login</span> <i class="bi bi-chevron-down"></i></a>
            <ul>
              <li><a href="{{ url_for('studentLogin') }}">Student</a></li>
              <li><a href="{{ url_for('companyLogin') }}">Company</a></li>
              <li><a href="{{ url_for('lecturerLogin') }}">Lecturer</a></li>
              <li><a href="{{ url_for('adminLogin') }}">Admin</a></li>
            </ul>
          </li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->
    </div>
  </header><!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex flex-column justify-content-center align-items-center">
    <div class="container text-center text-md-left" data-aos="fade-up">
        <h2>PORTFOLIO</h2>
        <h1><span>Mah Jia Yi</span></h1>
    </div>
  </section><!-- End Hero -->

  <main id="main">

    <!-- ======= About Section ======= -->
    <div id="about_us" class="about-sestion container-fluid">
        <div class="container">
            <div class="session-title row">
                <h2>About Me</h2>
            </div>
            <div class="about-row row">
                <div class="col-md-5">
                    <img src="{{ url_for('static', filename='img/ourTeam/jiayi.jpg') }}" alt="">
                </div>
                <div class="col-md-7">
                  <p style="text-align: justify;">
                    Hello! I'm <b>Mah Jia Yi</b>, currently a degree year 2 student at TARUMT. 
                    I am a software engineering student with a genuine enthusiasm for crafting elegant 
                    solutions that push the boundaries of technology. My fascination with coding began 
                    early, and I've cultivated expertise in languages like C, HTML, and CSS. 
                    Through coursework and real-world experience, I've developed proficiency in software 
                    development, from design to deployment. I thrive in team settings, effectively merging 
                    my technical aptitude with strong communication skills. Driven by an unquenchable thirst 
                    for knowledge, I am committed to continuous growth and innovation in the ever-evolving 
                    field of software engineering.
                  </p>
                  <br/>
                  <p>
                    <i class="bi bi-envelope"></i> <a href="mailto:mahjy-wm20@student.tarc.edu.my">mahjy-wm20@student.tarc.edu.my</a><br/>
                    <i class="bi bi-telephone"></i> <a href="tel:+60199460112">+6019-946 0112</a><br/>
                    <i class="bi bi-instagram"></i> <a href="https://www.instagram.com/__just13/">__just13</a><br/>
                  </p>
                </div>
            </div>
        </div>
    </div>

    <!-- ======= Services Section ======= -->
    <section id="services" class="services section-bg">
      <div class="container">

        <div class="section-title">
          <h2>Personality Traits</h2>
          <p>Here are what am I.</p>
        </div>

        <div class="row">
          <div class="col-md-6">
            <div class="icon-box">
              <i class="bi bi-briefcase"></i>
              <h4>Conscientiousness</h4>
              <p>Organized, responsible, and dependable. Tend to be goal-oriented and detail-oriented.</p>
            </div>
          </div>
          <div class="col-md-6 mt-4 mt-lg-0">
            <div class="icon-box">
              <i class="bi bi-card-checklist"></i>
              <h4>Agreeableness</h4>
              <p>Friendly, cooperative, and compassionate. Often considerate of others' feelings and are easy to get along with.</p>
            </div>
          </div>
          <div class="col-md-6 mt-4">
            <div class="icon-box">
              <i class="bi bi-bar-chart"></i>
              <h4>Self-discipline</h4>
              <p>Have control over impulses and can stick to the commitments.</p>
            </div>
          </div>
          <div class="col-md-6 mt-4">
            <div class="icon-box">
              <i class="bi bi-binoculars"></i>
              <h4>Trustworthiness</h4>
              <p>Are reliable and can be counted on to keep promises.</p>
            </div>
          </div>
        </div>
      </div>
    </section><!-- End Services Section -->
  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">
    <div class="container d-md-flex py-4">
      <div class="copyright">
        &copy; 2023 - Internship Management System
      </div>
    </div>
  </footer><!-- End Footer -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
      class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="{{ url_for('static', filename='vendor/purecounter/purecounter_vanilla.js') }}"></script>
  <script src="{{ url_for('static', filename='vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
  <script src="{{ url_for('static', filename='vendor/glightbox/js/glightbox.min.js') }}"></script>
  <script src="{{ url_for('static', filename='vendor/isotope-layout/isotope.pkgd.min.js') }}"></script>
  <script src="{{ url_for('static', filename='vendor/swiper/swiper-bundle.min.js') }}"></script>
  <script src="{{ url_for('static', filename='vendor/waypoints/noframework.waypoints.js') }}"></script>
  <script src="{{ url_for('static', filename='vendor/php-email-form/validate.js') }}"></script>

  <!-- Template Main JS File -->
  <script src="{{ url_for('static', filename='js/main.js') }}"></script>

</body>

</html>