<!-- admin company approval -->
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Company Detail</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="{{ url_for('static', filename='img/favicon.png') }}" rel="icon">

  <!-- Google Fonts -->
  <link
    href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
    rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{{ url_for('static', filename='vendor/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='vendor/bootstrap-icons/bootstrap-icons.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='vendor/boxicons/css/boxicons.min.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='vendor/glightbox/css/glightbox.min.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='vendor/swiper/swiper-bundle.min.css') }}" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">
</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top d-flex align-items-center">
    <div class="container d-flex align-items-center">

      <div class="logo me-auto">
        <h1><a href="{{ url_for('adminHome') }}">Lanternship</a></h1>
      </div>

      <nav id="navbar" class="navbar order-last order-lg-0">
        <ul>
          <li><a class="nav-link scrollto" href="{{ url_for('adminHome') }}">Home</a></li>
          <li><a class="nav-link scrollto" href="{{ url_for('adminCompanyList') }}">Companies</a></li>
          <li><a class="nav-link scrollto" href="{{ url_for('adminLecturerList') }}">Lecturers</a></li>
          <li><a class="nav-link scrollto" href="{{ url_for('logout') }}">Logout</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->
    </div>
  </header><!-- End Header -->

  <!-- ======= Inner Page ======= -->
  <section class="inner-page">
    <div class="container py-5">
      <h2>Company: Techtics Solutions Sdn Bhd<br />
        <hr><br />
      </h2>
      <div class="row">
        <div class="col-lg-4">
          <div class="card mb-4">
            <div class="card-body text-center">
              <img src="{{ url_for('static', filename='img/company/techtics.jpg') }}" alt="companyLogo" class="rounded-circle img-fluid"
                style="width: 300px;">
              <h5 class="my-3">Techtics Solutions Sdn Bhd</h5>
              <p class="text-muted mb-1">SOFTWARE</p>
            </div>
          </div>
        </div>
        <div class="col-lg-8">
          <div class="card mb-4">
            <div class="card-body">
              <div class="row">
                <p class="mb-4 text-primary">Company Description</p>
                <p class="text-muted mb-0">At Techtics Solutions we’ll transition you smoothly into the crypto universe,
                  starting with design thinking-driven solutions that focus on your specific needs and goals. You’ll
                  benefit from a decentralised world that is changing how investments, business and entertainment are
                  being shaped and delivered. With decentralisation and without intermediaries, the whole virtual world
                  becomes your market and target.</p>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">Address</p>
                </div>
                <div class="col-sm-9">
                  <p class="text-muted mb-0">VO2-09-06, V Office 2, Lingkaran SV,, Sunway Velocity, Jalan Peel, 55100,
                    Kuala Lumpur.</p>
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">Email</p>
                </div>
                <div class="col-sm-9">
                  <p class="text-muted mb-0"><a href="mailto:info@techtics.io">info@techtics.io</a></p>
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">Contact No.</p>
                </div>
                <div class="col-sm-9">
                  <p class="text-muted mb-0"><a href="tel:+60399266778">03-99266778</a>
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="d-flex justify-content-center mb-2">
                  <button type="button" class="btn btn-outline-primary ms-1" style="float: right;"
                    onclick="confirm('Are you sure to approve this company?')">Approve</button>
                  <button type="button" class="btn btn-outline-danger ms-1" style="float: right;"
                    onclick="confirm('Are you sure to reject this company?')">Reject</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- End Inner Page -->

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">
    <div class="container d-md-flex py-4">
      <div class="copyright">
        &copy; 2023 - Internship Management System
      </div>
    </div>
  </footer><!-- End Footer -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
      class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="{{ url_for('static', filename='vendor/purecounter/purecounter_vanilla.js') }}"></script>
  <script src="{{ url_for('static', filename='vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
  <script src="{{ url_for('static', filename='vendor/glightbox/js/glightbox.min.js') }}"></script>
  <script src="{{ url_for('static', filename='vendor/isotope-layout/isotope.pkgd.min.js') }}"></script>
  <script src="{{ url_for('static', filename='vendor/swiper/swiper-bundle.min.js') }}"></script>
  <script src="{{ url_for('static', filename='vendor/waypoints/noframework.waypoints.js') }}"></script>
  <script src="{{ url_for('static', filename='vendor/php-email-form/validate.js') }}"></script>

  <!-- Template Main JS File -->
  <script src="{{ url_for('static', filename='js/main.js') }}"></script>

</body>

</html>