<!-- company homepage -->
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Company Home</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="{{ url_for('static', filename='img/favicon.png') }}" rel="icon">

  <!-- Google Fonts -->
  <link
    href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
    rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{{ url_for('static', filename='vendor/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='vendor/bootstrap-icons/bootstrap-icons.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='vendor/boxicons/css/boxicons.min.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='vendor/glightbox/css/glightbox.min.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='vendor/swiper/swiper-bundle.min.css') }}" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">
</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top d-flex align-items-center">
    <div class="container d-flex align-items-center">

      <div class="logo me-auto">
        <h1><a href="{{ url_for('companyHome') }}">Lanternship</a></h1>
      </div>

      <nav id="navbar" class="navbar order-last order-lg-0">
        <ul>
          <li><a class="nav-link scrollto" href="{{ url_for('companyHome') }}">Home</a></li>
          <li><a class="nav-link scrollto" href="{{ url_for('companyStudentApplication') }}">Student Applications</a></li>
          <li><a class="nav-link scrollto" href="{{ url_for('logout') }}">Logout</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->
    </div>
  </header><!-- End Header -->

  <!-- ======= Inner Page ======= -->
  <section class="inner-page">
    <div class="container py-5">
      <h2>Welcome: {{ company.compName }}<br />
        <hr><br />
      </h2>
      <div class="row">
        <div class="col-lg-4">
          <div class="card mb-4">
            <div class="card-body text-center">
              <img src="{{ url_for('static', filename='img/company/company1.jpg') }}" alt="companyLogo" class="rounded-circle img-fluid"
                style="width: 300px;">
              <h5 class="my-3">{{ company.compName }}</h5>
              <p class="text-muted mb-1">{{ company.category }}</p>
              <p class="text-muted mb-1">{{ company.compDesc }}</p><br /><br />
              <div class="d-flex justify-content-center mb-2">
                <button type="button" class="btn btn-outline-primary ms-1" data-bs-toggle="modal"
                  data-bs-target="#editInfoModal">Edit Info</button>
              </div>
            </div>
          </div>
          <div class="card mb-4 mb-lg-0">
            <div class="card-body p-0">
              <div class="card-body">
                <div class="row">
                  <div class="col-sm-3">
                    <p class="mb-0">Company Name</p>
                  </div>
                  <div class="col-sm-9">
                    <p class="text-muted mb-0">{{ company.compName }}</p>
                  </div>
                </div>
                <hr>
                <div class="row">
                  <div class="col-sm-3">
                    <p class="mb-0">Location</p>
                  </div>
                  <div class="col-sm-9">
                    <p class="text-muted mb-0">{{ company.compLocation }}</p>
                  </div>
                </div>
                <hr>
                <div class="row">
                  <div class="col-sm-3">
                    <p class="mb-0">Working Day</p>
                  </div>
                  <div class="col-sm-9">
                    <p class="text-muted mb-0">{{ company.workingStartDay }} - {{ company.workingEndDay }}</p>
                  </div>
                </div>
                <hr>
                <div class="row">
                  <div class="col-sm-3">
                    <p class="mb-0">Working Hour</p>
                  </div>
                  <div class="col-sm-9">
                    <p class="text-muted mb-0">{{ company.workingStartTime }} - {{ company.workingEndTime }}</p>
                  </div>
                </div>
                <hr>
                <div class="row">
                  <div class="col-sm-3">
                    <p class="mb-0">Email</p>
                  </div>
                  <div class="col-sm-9">
                    <p class="text-muted mb-0">{{ company.compEmail }}</p>
                  </div>
                </div>
                <hr>
                <div class="row">
                  <div class="col-sm-3">
                    <p class="mb-0">Contact</p>
                  </div>
                  <div class="col-sm-9">
                    <p class="text-muted mb-0">{{ company.compPhone }}</p>
                  </div>
                </div>
                <hr>
                <div class="row">
                  <div class="col-sm-3">
                    <p class="mb-0">Provided Accessory</p>
                  </div>
                  <div class="col-sm-9">
                    <p class="text-muted mb-0">{{ company.accessories }}</p>
                  </div>
                </div>
                <hr>
                <div class="row">
                  <div class="col-sm-3">
                    <p class="mb-0">Accomodation</p>
                  </div>
                  <div class="col-sm-9">
                    <p class="text-muted mb-0">{{ company.accomodation }}</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-8">
          <button type="button" class="btn btn-primary ms-1" style="float: right;" data-bs-toggle="modal"
            data-bs-target="#addModal">Add Job</button>
          <h4 class="my-3 text-primary"><b>Job List</b></h4>
          {% for job in jobs %}
          <div class="card mb-4">
            <div class="card-body">
              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">Job Title</p>
                </div>
                <div class="col-sm-9">
                  <p class="text-muted mb-0">{{ job['jobTitle'] }}</p>
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">Allowance</p>
                </div>
                <div class="col-sm-9">
                  <p class="text-muted mb-0">{{ job['allowance'] }}</p>
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">Open For</p>
                </div>
                <div class="col-sm-9">
                  <p class="text-muted mb-0">{{ job['level'] }}</p>
                </div>
              </div>
              <hr>
              <div class="row">
                <p class="mb-4 text-primary">Job Description</p>
                <p class="text-muted mb-0">{{ job['jobDesc'] }}</p>
              </div>
              <hr>
              <div class="row">
                <p class="mb-4 text-primary">Job Requirement</p>
                <p class="text-muted mb-0">{{ job['jobReq'] }}</p>
              </div>
              <hr>
              <div class="row">
                <div class="d-flex justify-content-center mb-2">
                  <button type="button" class="btn btn-outline-primary ms-1" style="float: right;"
                    data-bs-toggle="modal" data-bs-target="#editModal{{ job['jobID'] }}" data-action="edit" data-job-id="{{ job['jobID'] }}">Edit</button>
                    <form method="POST" action="{{ url_for('companyHome') }}" data-action="delete" onsubmit="return confirm('Are you sure to delete this job?')">
                      <input type="hidden" name="action" value="delete">
                      <input type="hidden" name="job_id" id="deleteJobID" value="{{ job['jobID'] }}">
                      <button type="submit" class="btn btn-outline-danger ms-1" value="delete">Delete</button>
                    </form>
                </div>        
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </section>
  <!-- End Inner Page -->

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">
    <div class="container d-md-flex py-4">
      <div class="copyright">
        &copy; 2023 - Internship Management System
      </div>
    </div>
  </footer><!-- End Footer -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
      class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="{{ url_for('static', filename='vendor/purecounter/purecounter_vanilla.js') }}"></script>
  <script src="{{ url_for('static', filename='vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
  <script src="{{ url_for('static', filename='vendor/glightbox/js/glightbox.min.js') }}"></script>
  <script src="{{ url_for('static', filename='vendor/isotope-layout/isotope.pkgd.min.js') }}"></script>
  <script src="{{ url_for('static', filename='vendor/swiper/swiper-bundle.min.js') }}"></script>
  <script src="{{ url_for('static', filename='vendor/waypoints/noframework.waypoints.js') }}"></script>
  <script src="{{ url_for('static', filename='vendor/php-email-form/validate.js') }}"></script>

  <!-- Template Main JS File -->
  <script src="{{ url_for('static', filename='js/main.js') }}"></script>

</body>

<!-- Edit Info Modal -->
<div class="modal fade" id="editInfoModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <form action="{{ url_for('companyHome') }}" method="POST" onsubmit="return confirm('Are you sure to this changes？')">
        <input type="hidden" name="action" value="editInfo">
        <input type="hidden" name="companyEmail" id="editCompEmail" value="{{ company.compEmail }}">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Edit Company Info</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="panel-body">
            <div class="form-group">
              <label for="companyName">Company Name</label>
              <input type="text" class="form-control" name="companyName" id="companyName" placeholder="" value="{{ company.compName }}">
            </div>
            <br />
            <div class="form-group">
              <label for="companyDescription">Company Description</label>
              <textarea class="form-control" id="companyDescription" name="companyDescription"
                rows="3">{{ company.compDesc }}</textarea>
            </div>
            <br />
            <div class="form-group">
              <label for="location">Location</label>
              <textarea class="form-control" id="location" name="companyLocation"
                rows="3">{{ company.compLocation }}</textarea>
            </div>
            <br />
            <div class="form-group">
              <label for="workingDay">Working Day</label>
              <div class="row">
                <div class="col">
                  <label for="startDay">Start Day</label>
                  <select class="form-select" aria-label="startDay" name="workingStartDay">
                    <option value="Monday" {% if company.workingStartDay == "Monday" %}selected{% endif %}>Monday</option>
                    <option value="Tuesday" {% if company.workingStartDay == "Tuesday" %}selected{% endif %}>Tuesday</option>
                    <option value="Wednesday" {% if company.workingStartDay == "Wednesday" %}selected{% endif %}>Wednesday</option>
                    <option value="Thursday" {% if company.workingStartDay == "Thursday" %}selected{% endif %}>Thursday</option>
                    <option value="Friday" {% if company.workingStartDay == "Friday" %}selected{% endif %}>Friday</option>
                    <option value="Saturday" {% if company.workingStartDay == "Saturday" %}selected{% endif %}>Saturday</option>
                    <option value="Sunday" {% if company.workingStartDay == "Sunday" %}selected{% endif %}>Sunday</option>
                  </select>
                </div>
                <div class="col">
                  <label for="endDay">End Day</label>
                  <select class="form-select" aria-label="endDay" name="workingEndDay">
                    <option value="Monday" {% if company.workingEndDay == "Monday" %}selected{% endif %}>Monday</option>
                    <option value="Tuesday" {% if company.workingEndDay == "Tuesday" %}selected{% endif %}>Tuesday</option>
                    <option value="Wednesday" {% if company.workingEndDay == "Wednesday" %}selected{% endif %}>Wednesday</option>
                    <option value="Thursday" {% if company.workingEndDay == "Thursday" %}selected{% endif %}>Thursday</option>
                    <option value="Friday" {% if company.workingEndDay == "Friday" %}selected{% endif %}>Friday</option>
                    <option value="Saturday" {% if company.workingEndDay == "Saturday" %}selected{% endif %}>Saturday</option>
                    <option value="Sunday" {% if company.workingEndDay == "Sunday" %}selected{% endif %}>Sunday</option>
                  </select>
                </div>
              </div>
            </div>
            <br />
            <div class="form-group">
              <label for="workingHour">Working Hour</label>
              <div class="row">
                <div class="col">
                  <label for="startTime">Start Time</label>
                  <input type="time" class="form-control" placeholder="" value="{{ company.workingStartTime }}" name="workingStartTime">
                </div>
                <div class="col">
                  <label for="endTime">End Time</label>
                  <input type="time" class="form-control" placeholder="" value="{{ company.workingEndTime }}" name="workingEndTime">
                </div>
              </div>
            </div>
            <br />
            <!-- <div class="form-group">
              <label for="email">Email</label>
              <input type="email" id="email" class="form-control" placeholder="e.g. xxx@xxx.com"
                value="example@example.com">
            </div> -->
            <br />
            <div class="form-group">
              <label for="contact">Contact</label>
              <input type="text" id="contact" class="form-control" pattern="\d{2,3}-\d{7,8}"
                placeholder="e.g. 019-9999999" value="03-2345678" name="compPhone" value="{{ company.compPhone }}">
            </div>
            <br />
            <div class="form-group">
              <label for="accessories">Provided Accessory</label>
              <input type="text" id="accessories" class="form-control" placeholder="" value="{{ company.accessories }}" name="accessories">
            </div>
            <br />
            <div class="form-group">
              <label for="accomodation">Accomodation</label>
              <div class="form-check">
                <input class="form-check-input" type="radio" name="accomodation" id="accomodation" value="Yes" {% if company.accomodation == "Yes" %}checked{% endif %}>
                <label class="form-check-label" for="accomodation">
                  Yes
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="radio" name="accomodation" id="noAccomodation" value="No" {% if company.accomodation == "No" %}checked{% endif %}>
                <label class="form-check-label" for="noAccomodation">
                  No
                </label>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary">Save</button>
        </div>
      </form>
    </div>
  </div>
</div>

<!-- Add Job Modal -->
<div class="modal fade" id="addModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <form action="{{ url_for('companyHome') }}" method="POST" onsubmit="return confirm('Are you sure to add this job？')">
        <input type="hidden" name="action" value="addJob">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Add New Job</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="panel-body">
            <div class="form-group">
              <label for="jobTitle">Job Title</label>
              <input type="text" class="form-control" id="jobTitle" placeholder="" name="jobTitle">
            </div>
            <br />
            <div class="form-group">
              <label for="jobTitle">Allowance (RM)</label>
              <div class="row">
                <div class="col">
                  <label for="minimum">Minimum</label>
                  <input type="text" name="minimum" class="form-control" placeholder="e.g. 800.00" pattern="\d+\.\d{2}">
                </div>
                <div class="col">
                  <label for="maximum">Maximum</label>
                  <input type="text" name="maximum" class="form-control" placeholder="e.g. 1000.00" pattern="\d+\.\d{2}">
                </div>
              </div>
            </div>
            <br />
            <div class="form-group">
              <label for="openFor">Open For</label><br />
              <div class="form-check">
                <input class="form-check-input" name="open_for" type="checkbox" value="Diploma" id="diploma" checked>
                <label class="form-check-label" for="diploma">
                  Diploma
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" name="open_for" type="checkbox" value="Degree" id="degree" checked>
                <label class="form-check-label" for="degree">
                  Degree
                </label>
              </div>
            </div>
            <br />
            <div class="form-group">
              <label for="jobDescription">Job Description</label>
              <textarea class="form-control" name="jobDescription" id="jobDescription" rows="3"></textarea>
            </div>
            <div class="form-group">
              <label for="jobRequirement">Job Requirement</label>
              <textarea class="form-control" name="jobRequirement" id="jobRequirement" rows="3"></textarea>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary">Save</button>
        </div>
      </form>
    </div>
  </div>
</div>

{% for job in jobs %}
{% for minimum in minimums %}
<!-- Edit Job Modal -->
<div class="modal fade" id="editModal{{ job['jobID'] }}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <form action="{{ url_for('companyHome', job_id=job['jobID']) }}" method="POST" onsubmit="return confirm('Are you sure to this changes？')">
        <input type="hidden" name="action" value="editJob">
        <input type="hidden" name="job_id" id="editJobID" value="{{ job['jobID'] }}">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel{{ job['jobID'] }}">Edit Job</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="panel-body">
            <div class="form-group">
              <label for="jobTitle{{ job['jobID'] }}">Job Title</label>
              <input type="text" name="jobTitle" class="form-control" id="jobTitle{{ job['jobID'] }}" placeholder="" value="{{ job['jobTitle'] }}">
            </div>
            <br />
            {% for min in minimums %}
            {% if min['jobID'] == job['jobID'] %}
            {% for max in maximums %}
            {% if max['jobID'] == job['jobID'] %}
            <div class="form-group">
              <label for="jobTitle">Allowance (RM)</label>
              <div class="row">
                <div class="col">
                  <label for="minimum">Minimum</label>
                  <input type="text" name="minimum" class="form-control" placeholder="e.g. 800.00" pattern="\d+\.\d{2}" value="{{ min['min_allowance'] }}">
                </div>
                <div class="col">
                  <label for="maximum">Maximum</label>
                  <input type="text" name="maximum" class="form-control" placeholder="e.g. 1000.00" pattern="\d+\.\d{2}" value="{{ max['max_allowance'] }}">
                </div>
              </div>
            </div>
            {% endif %}
            {% endfor %}
            {% endif %}
            {% endfor %}
            <br />
            <div class="form-group">
              <label for="openFor">Open For</label><br />
              <div class="form-check">
                <input class="form-check-input" name="open_for" type="checkbox" value="Diploma" id="diploma" checked>
                <label class="form-check-label" for="diploma">
                  Diploma
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" name="open_for" type="checkbox" value="Degree" id="degree" checked>
                <label class="form-check-label" for="degree" checked>
                  Degree
                </label>
              </div>
            </div>
            <br />
            <div class="form-group">
              <label for="jobDesc{{ job['jobID'] }}">Job Description</label>
              <textarea class="form-control" name="jobDescription" id="jobDesc{{ job['jobID'] }}" rows="3">{{ job['jobDesc'] }}</textarea>
            </div>
            <div class="form-group">
              <label for="jobReq{{ job['jobID'] }}">Job Requirement</label>
              <textarea class="form-control" name="jobRequirement" id="jobReq{{ job['jobID'] }}" rows="3">{{ job['jobReq'] }}</textarea>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary">Save</button>
        </div>
      </form>
    </div>
  </div>
</div>
{% endfor %}
{% endfor %}
</html>