<!-- company homepage -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>Student Applications</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Favicons -->
    <link href="{{ url_for('static', filename='img/favicon.png') }}" rel="icon">

    <!-- Google Fonts -->
    <link
        href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
        rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="{{ url_for('static', filename='vendor/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='vendor/bootstrap-icons/bootstrap-icons.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='vendor/boxicons/css/boxicons.min.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='vendor/glightbox/css/glightbox.min.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='vendor/swiper/swiper-bundle.min.css') }}" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">
</head>

<body>

    <!-- ======= Header ======= -->
    <header id="header" class="fixed-top d-flex align-items-center">
        <div class="container d-flex align-items-center">

            <div class="logo me-auto">
                <h1><a href="{{ url_for('companyHome') }}">Lanternship</a></h1>
            </div>

            <nav id="navbar" class="navbar order-last order-lg-0">
                <ul>
                    <li><a class="nav-link scrollto" href="{{ url_for('companyHome') }}">Home</a></li>
                    <li><a class="nav-link scrollto" href="{{ url_for('companyStudentApplication') }}">Student Applications</a></li>
                    <li><a class="nav-link scrollto" href="{{ url_for('logout') }}">Logout</a></li>
                </ul>
                <i class="bi bi-list mobile-nav-toggle"></i>
            </nav><!-- .navbar -->
        </div>
    </header><!-- End Header -->

    <!-- ======= Inner Page ======= -->
    <section class="inner-page">
        <div class="container py-5">
            <h2>Student Applications<br />
                <hr><br />
            </h2>
            <table class="table align-middle mb-0 bg-white">
                <thead class="bg-light">
                    <tr>
                        <th>Student Name</th>
                        <th></th>
                        <th>Applied Job</th>
                        <th>Status</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                {% for application in applications %}
                <tbody>
                    <tr>
                        <td>
                            <div class="d-flex align-items-center">
                                <div class="ms-3">
                                    <p class="fw-bold mb-1">{{ application['studName'] }}</p>
                                    <p class="text-muted mb-0">{{ application['course'] }}</p>
                                    <p class="text-muted mb-0"><a
                                            href="mailto:xxx@student.tarc.edu.my">{{ application['studEmail'] }}</a></p>
                                    <p class="text-muted mb-0"><a href="tel:+60123456789">{{ application['studPhone'] }}</a></p>
                                    <p class="text-muted mb-0">CGPA {{ application['cgpa'] }}</p>
                                </div>
                            </div>
                        </td>
                        <td>
                            <div class="col-sm-9">
                                <p class="text-muted mb-0"><a class="btn btn-outline-primary btn-sm btn-rounded" href="{{ application['resume_url'] }}" target="_blank">click to view resume</a></p>
                            </div>
                        </td>
                        <td>
                            <p class="fw-normal mb-1">{{ application['jobTitle'] }}</p>
                        </td>
                        <td>
                            {{ application['applicationStatus'] }}
                        </td>

                        <td>
                            <form method="POST" action="{{ url_for('companyStudentApplication') }}" onsubmit="return confirm('Are you sure to approve this application?')" style="float: left; margin: 2px;">
                                <input type="hidden" name="action" value="approve">
                                <input type="hidden" name="job_id" id="editStatus" value="{{ application['jobID'] }}">
                                {% if application.applicationStatus == 'Approved' or application.applicationStatus == 'Rejected' %}
                                <button type="submit" class="btn btn-outline-secondary btn-sm btn-rounded" disabled>Approve</button>
                                {% else %}
                                <button type="submit" class="btn btn-success btn-sm btn-rounded">Approve</button>
                                {% endif %}
                            </form>
                            <form method="POST" action="{{ url_for('companyStudentApplication') }}" onsubmit="return confirm('Are you sure to reject this application?')" style="float: left; margin: 2px;">
                                <input type="hidden" name="action" value="reject">
                                <input type="hidden" name="job_id" id="editStatus" value="{{ application['jobID'] }}">
                                {% if application.applicationStatus == 'Approved' or application.applicationStatus == 'Rejected' %}
                                <button type="submit" class="btn btn-outline-secondary btn-sm btn-rounded" disabled>Reject</button>
                                {% else %}
                                <button type="submit" class="btn btn-danger btn-sm btn-rounded">Reject</button>
                                {% endif %}
                            </form>
                        </td>
                    </tr>
                </tbody>
                {% endfor %}
            </table>
        </div>
    </section>
    <!-- End Inner Page -->

    </main><!-- End #main -->

    <!-- ======= Footer ======= -->
    <footer id="footer">
        <div class="container d-md-flex py-4">
            <div class="copyright">
                &copy; 2023 - Internship Management System
            </div>
        </div>
    </footer><!-- End Footer -->

    <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
            class="bi bi-arrow-up-short"></i></a>

    <!-- Vendor JS Files -->
    <script src="{{ url_for('static', filename='vendor/purecounter/purecounter_vanilla.js') }}"></script>
    <script src="{{ url_for('static', filename='vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
    <script src="{{ url_for('static', filename='vendor/glightbox/js/glightbox.min.js') }}"></script>
    <script src="{{ url_for('static', filename='vendor/isotope-layout/isotope.pkgd.min.js') }}"></script>
    <script src="{{ url_for('static', filename='vendor/swiper/swiper-bundle.min.js') }}"></script>
    <script src="{{ url_for('static', filename='vendor/waypoints/noframework.waypoints.js') }}"></script>
    <script src="{{ url_for('static', filename='vendor/php-email-form/validate.js') }}"></script>

    <!-- Template Main JS File -->
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>

</body>

</html>