<!-- Homepage -->
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Internship Management System</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="{{ url_for('static', filename='img/favicon.png') }}" rel="icon">

  <!-- Google Fonts -->
  <link
    href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
    rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{{ url_for('static', filename='vendor/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='vendor/bootstrap-icons/bootstrap-icons.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='vendor/boxicons/css/boxicons.min.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='vendor/glightbox/css/glightbox.min.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='vendor/swiper/swiper-bundle.min.css') }}" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">
</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top d-flex align-items-center">
    <div class="container d-flex align-items-center">

      <div class="logo me-auto">
        <h1><a href="{{ url_for('index') }}">Lanternship</a></h1>
      </div>

      <nav id="navbar" class="navbar order-last order-lg-0">
        <ul>
          <li class="dropdown"><a href="#"><span>Login</span> <i class="bi bi-chevron-down"></i></a>
            <ul>
              <li><a href="{{ url_for('studentLogin') }}">Student</a></li>
              <li><a href="{{ url_for('companyLogin') }}">Company</a></li>
              <li><a href="{{ url_for('lecturerLogin') }}">Lecturer</a></li>
              <li><a href="{{ url_for('adminLogin') }}">Admin</a></li>
            </ul>
          </li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->
    </div>
  </header><!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex flex-column justify-content-center align-items-center">
    <div class="container text-center text-md-left" data-aos="fade-up">
      <h1>Welcome to <span>Lanternship</span></h1>
      <h2>BAIT305C/AMIT3205/BMMC3205 Industrial Training Programme</h2>
      <a href="{{ url_for('studentLogin') }}" class="btn-get-started scrollto">Student Login</a>
    </div>
  </section><!-- End Hero -->

  <main id="main">

    <!-- ======= What We Is Section ======= -->
    <section id="what-is" class="what-is">
      <div class="container">

        <div class="section-title">
          <h2>What Is Industrial Training?</h2>
          <p>Industrial Training is a compulsory programme that open doors for internship essentials.<br />
            The programme focuses on student internship attachment, as evidence of work capabilities.</p>
        </div>

        <div class="row">
          <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
            <div class="icon-box">
              <div class="icon"><i class="bi bi-globe-asia-australia"></i></div>
              <h4>Professional Network</h4>
              <p>Build relationships with other professionals both in your career field and in other related fields.</p>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-md-0">
            <div class="icon-box">
              <div class="icon"><i class="bi bi-people-fill"></i></div>
              <h4>Social Values</h4>
              <p>Movement of committed professionals around the world who can see a better future.</p>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-lg-0">
            <div class="icon-box">
              <div class="icon"><i class="bi bi-briefcase-fill"></i></div>
              <h4>Work Quality And Ethics</h4>
              <p>A personal set of values that determines how any employee approaches their work.</p>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End What We Is Section -->

    <!-- ======= Testimonials Section ======= -->
    <section id="testimonials" class="testimonials section-bg">
      <div class="container">

        <div class="section-title">
          <h2>Our Team</h2>
          <p>We are students from RSWS3(G5).</p>
        </div>

        <div class="testimonials-slider swiper" data-aos="fade-up" data-aos-delay="100">
          <div class="swiper-wrapper">

            <div class="swiper-slide">
              <div class="testimonial-item">
                <img src="{{ url_for('static', filename='img/ourTeam/xinzhi.jpg') }}" class="testimonial-img" alt="">
                <h3><a href="{{ url_for('xinzhi') }}" target="_blank">Teoh Xin Zhi</a></h3>
                <h4>@jaketeoh_02</h4>
                <br/>
                <p>
                  <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                  Software engineering students are the architects of the digital future.
                  <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                </p>
              </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide">
              <div class="testimonial-item">
                <img src="{{ url_for('static', filename='img/ourTeam/junxi.jpg') }}" class="testimonial-img" alt="">
                <h3><a href="{{ url_for('junxi') }}" target="_blank">Heah Jun Xi</a></h3>
                <h4>@junxiheah</h4>
                <br/>
                <p>
                  <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                  In the world of software engineering, students are the builders of tomorrow's technology landscape.
                  <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                </p>
              </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide">
              <div class="testimonial-item">
                <img src="{{ url_for('static', filename='img/ourTeam/goonhei.jpg') }}" class="testimonial-img" alt="">
                <h3><a href="{{ url_for('goonhei') }}" target="_blank">Leau Goon Hei</a></h3>
                <h4>@goon.hei</h4>
                <br/>
                <p>
                  <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                  Software engineering students are like sponges, soaking up knowledge to shape the future of technology.
                  <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                </p>
              </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide">
              <div class="testimonial-item">
                <img src="{{ url_for('static', filename='img/ourTeam/jiayi.jpg') }}" class="testimonial-img" alt="">
                <h3><a href="{{ url_for('jiayi') }}" target="_blank">Mah Jia Yi</a></h3>
                <h4>@__just13</h4>
                <br/>
                <p>
                  <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                  Software engineering students are the code warriors, armed with knowledge and creativity.
                  <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                </p>
              </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide">
              <div class="testimonial-item">
                <img src="{{ url_for('static', filename='img/ourTeam/shuwei.jpg') }}" class="testimonial-img" alt="">
                <h3><a href="{{ url_for('shuwei') }}" target="_blank">Wang Shu Wei</a></h3>
                <h4>@sw_416_</h4>
                <br/>
                <p>
                  <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                  The journey of a software engineering student is marked by curiosity, persistence, and the pursuit of innovation.
                  <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                </p>
              </div>
            </div><!-- End testimonial item -->

          </div>
          <div class="swiper-pagination"></div>
        </div>

      </div>
    </section><!-- End Testimonials Section -->

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">
    <div class="container d-md-flex py-4">
      <div class="copyright">
        &copy; 2023 - Internship Management System
      </div>
    </div>
  </footer><!-- End Footer -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
      class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="{{ url_for('static', filename='vendor/purecounter/purecounter_vanilla.js') }}"></script>
  <script src="{{ url_for('static', filename='vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
  <script src="{{ url_for('static', filename='vendor/glightbox/js/glightbox.min.js') }}"></script>
  <script src="{{ url_for('static', filename='vendor/isotope-layout/isotope.pkgd.min.js') }}"></script>
  <script src="{{ url_for('static', filename='vendor/swiper/swiper-bundle.min.js') }}"></script>
  <script src="{{ url_for('static', filename='vendor/waypoints/noframework.waypoints.js') }}"></script>
  <script src="{{ url_for('static', filename='vendor/php-email-form/validate.js') }}"></script>

  <!-- Template Main JS File -->
  <script src="{{ url_for('static', filename='js/main.js') }}"></script>

</body>

</html>